<div mat-dialog-content>
  <div fxLayout="column">
    <mat-form-field [floatLabel]="true">
      <input matInput placeholder="URL" required name="url" (keyup)="parseURL()" [(ngModel)]="download.url">
    </mat-form-field>
    
    <div fxLayout="column" *ngIf="youtubeURL">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-slide-toggle [(ngModel)]="download.audio_only">
          Audio Only
        </mat-slide-toggle>
        <mat-form-field *ngIf="download.audio_only">
          <mat-label>Audio Format</mat-label>
          <mat-select [(value)]="download.audio_format">
            <mat-option *ngFor="let audioFormat of audioFormats" [value]="audioFormat">
              {{audioFormat}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-slide-toggle [(ngModel)]="download.download_subs">
          Download Subtitles
        </mat-slide-toggle>
        <mat-slide-toggle *ngIf="download.download_subs" [(ngModel)]="download.srt_subs">
          Convert Subtitles to SRT
        </mat-slide-toggle>
      </div>
    </div>

    <div fxLayout="row">
      <mat-form-field [floatLabel]="true">
        <input matInput placeholder="File Filter" name="file_filter" [(ngModel)]="download.file_filter">
      </mat-form-field>
      <mat-form-field>
        <mat-label>File Filter Preset</mat-label>
        <mat-select [(value)]="download.file_filter">
          <mat-option *ngFor="let preset of presets" [value]="preset.value">
            {{preset.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field [floatLabel]="true">
        <input matInput placeholder="HTTP Username" name="http_username" [(ngModel)]="download.http_username">
      </mat-form-field>
      <mat-form-field [floatLabel]="true">
        <input matInput placeholder="HTTP Password" name="http_password" [(ngModel)]="download.http_password">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="error != ''" class="error">
    {{error}}
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-flat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>