.download
  margin: 4px
  .url
    // width: 85%
    // text-overflow: ellipsis
    icon
      padding-right: 8px
    .full-url
      word-break: break-all

  .buttons
    button:first-child
      margin-right: 8px
